*
{
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5;
}
// Simulador
body{
    background-color: #2E2F2F;
    color: #F7FFF7;
    font-family: "Montserrat", sans-serif;
    header{
        margin-bottom: 20px;
        nav{
            background-color:   #357DED;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1{
                font-size: 25px;
                margin: 0;
            }
        }   
    }
    .mainSimulador{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 0.7fr;
        grid-template-areas: 
        "listaDeRequisitos img"
        "sectionContactos articleSimulador"
        ;
        gap: 15px;
        .listaDeRequisitos{
            grid-area: listaDeRequisitos ;
            h2{
                margin: 10px;
                text-align: start;
            }
            ul{
                margin: 30px;
            }
            
        }
        img{
            grid-area: img ;
            margin: 20px 0px 0px 20px;
        }
        #tiposDeDolar{
            margin: 16px;
            h3{
                margin-top: 6px;
                text-align: center;
                color: green;
                font-weight: 700;
            }
            .post{
                display: grid;
                grid-template-columns: 0.5fr 0.5fr;
            }
        }
        .sectionContactos{
            grid-area: sectionContactos;
            .divSection{    
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                align-content: space-between;
                    #cuadroDePrestamo{
                        display: grid;
                        grid-gap: 15px;
                        justify-items: center;
                        align-items: center;
                        align-content: space-evenly;
                        margin: 0px 0px 0px 20px;
                            input{
                                padding: 5px;
                                padding-right: 20px;
                                border: 1px solid;
                                border-radius: 10px;
                            }
                            #botonSimular{
                                padding: 12px;
                                font-size: 15px;
                                border-radius: 15px;
                                font-weight:500;
                                width: 120px;
                                background-color: #337CA0;
                            }
                }
            }
        }
        #articleSimulador{
            grid-area:articleSimulador ;
            #divDatosPrestamo{
                display: grid;
                grid-template-columns: 1fr;
                gap: 25px;
                margin: 0 100px 0 100px;
                align-content: space-between;
                padding: 5px;
                p{
                    margin: 0;
                }
                #botonSolicitarPrestamo{
                    padding: 12px;
                    font-size: 15px;
                    border-radius: 15px;
                    font-weight:500;
                    width: 120px;
                    margin: 0 0 0 150px;
                    background-color: #3EC300;
                }
            }
        }
    }
    footer{
        border-top: 2px solid;
    }
}